@tailwind base;
@layer base {
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(17 24 39);
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(17 24 39);
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(17 24 39);
  }
  h4 {
    font-size: 28px;
    font-weight: 500;
    color: rgb(17 24 39);
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(17 24 39);
  }
  h6 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(17 24 39);
  }
}
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --reject: #d63d22;
  --success: #10b624;
  --upload: #00b0c7;
  --primary-light: #a8c1d1;
  --primary-main: #6a87a5; 
  /* #606c38 */
  --primary-dark: #44709e;
  /* --gray-extra-light: #e4e4e4; */
  --gray-light: #d6d6d6;
  --gray-main: #999999;
  --gray-dark: #707070;
  --light: #f1f1f1;
  --dark: #141414;
  --body: #f2ebe3;
  

  /* transition */
  --transition: all 0.3s ease-in-out;

  /* border radius */
  --radius-small: 2px;
  --radius-main: 4px;
  --radius-large: 8px;
}

body {
  background-color: var(--bg-body);
}


h1,h2,h3,h4,h5,h6,p,small,span{
  color: var(--dark);
}

