@tailwind base;
@layer base {
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(17 24 39);
  }
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(17 24 39);
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(17 24 39);
  }
  h4 {
    font-size: 28px;
    font-weight: 500;
    color: rgb(17 24 39);
  }
  h5 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(17 24 39);
  }
  h6 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(17 24 39);
  }
}
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --reject: #d63d22;
  --success: #10b624;
  --upload: #abfcb4;
  --main-gray: #999999;

  /* transition */
  --transition: all 0.3s ease-in-out;

  /* border */
  --radius: 4px;
}

body {
  background-color: #f2ebe375;
}

