.dimond {
  border: 4px solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  width: 50px;
  height: 50px;
  padding: 2px;
  position: relative;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}
.dimond span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
}

.topRight,
.topLeft,
.bottomRight,
.bottomLeft {
  position: absolute;
  width: 2px;
  height: 30px;
}

.topLeft {
  top: 15%;
  left: -25%;
}
.topRight {
  top: -56%;
  right: 48%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.bottomLeft {
  bottom: -56%;
  left: 48%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.bottomRight {
  top: 15%;
  right: -25%;
}

.succeedItem .dimond {
  border-color: var(--success);
}
.succeedItem {
  color: var(--success);
}

.succeedItem .topRight,
.succeedItem .topLeft,
.succeedItem .bottomRight,
.succeedItem .bottomLeft,
.succeedItem .line {
  background-color: var(--success);
}

.rejectedItem .dimond {
  border-color: var(--reject);
}
.rejectedItem {
  color: var(--reject);
}

.rejectedItem .topRight,
.rejectedItem .topLeft,
.rejectedItem .bottomRight,
.rejectedItem .bottomLeft,
.rejectedItem .line {
  background-color: var(--reject);
}

.uploadedItem .dimond {
  border-color: var(--upload);
}
.uploadedItem {
  color: var(--upload);
}

.uploadedItem .topRight,
.uploadedItem .topLeft,
.uploadedItem .bottomRight,
.uploadedItem .bottomLeft,
.uploadedItem .line {
  background-color: var(--upload);
}

.defaultItem .dimond {
  border-color: var(--main-gray);
}
.defaultItem {
  color: var(--main-gray);
}

.defaultItem .topRight,
.defaultItem .topLeft,
.defaultItem .bottomRight,
.defaultItem .bottomLeft,
.defaultItem .line {
  background-color: var(--main-gray);
}

/* .input input {
  display: none;
}

.input {
  border: 1px solid #ccc;
  border-radius: var(--radius);
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  font-size: 10px;
  background-color: royalblue;
  color: white;
} */
